<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
        <form method="post">
            <div class="form-group">
                <label class="form-label">Nome do cachorro
                <input type="text" class="form-control" name="nome" required></label>
            </div>
            <div class="form-group">
                <label  class="form-label">Descrição
                <textarea class="form-control" name="descricao"  maxlength="150" rows="4" cols="50" required></textarea></label>
            </div>
            <div class="form-group">
                <label  class="form-label">Foto do animal
                <input class="form-control" name="imagem" type="text" required></label>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block">Salvar</button>
                <a href="{{URL}}/painel"><button type="button" class="btn btn-danger btn-lg btn-block">Cancelar</button></a>
            </div>
        </form>

</div>

</body>
</html>