
<div class="container" id="featured-container">
    <h1 class="text-center title_donation primary-color ">Sua doação é muito importante!</h1>
    <p class="text-center subtitle primary-color">Sua doação ajuda a manter todos os custos da Ong Todo Bicho, além de proporcionar uma ajuda muito grande para todos nossos animais.
        No momento estamos aceitando doações feitas por Pix, Transferência Bancária. Aceitamos doações de ração, detergentes, desinfetantes, cobertores, roupinhas e comedouros.
    </p>
    <div class="col-12 " id="featured-images">
        <div class="row g-4">
            <div class="col-12 col-md-4">
                <a href="adote.html" class="stretched-link"><img src='resources/view/img/doacao/como_apadrinhar.png' alt="Projeto 2" class="img-fluid"></a>
                <h2 class="subtitle subtitle_donation"> Quero virar um padrinho </h2>
                <p> O apadrinhamento é uma forma de ajudar a ONG atraves de um valor mensal fixo, o qual será direcionado para melhorar a qualidade de vida do peludo escolhido.</p>
                <img class="img-fluid img-teste" src="resources/view/img/doacao/racao.png">
            </div>
            <div class="col-12 col-md-4">
                <img src='resources/view/img/doacao/ajuda_financeira.png' alt="Projeto 1" class="img-fluid">
                <h2 class="subtitle subtitle_donation"> Quero ajudar financeiramente </h2>
                <p>Aceitamos doações via PIX e transação bancaria!</p>


                <img class="img-fluid img-teste-pix " src="resources/view/img/qr_code.png">


            </div>
            <div class="col-12 col-md-4">
                <a href="ho%20com%20alguns%20itens%2C%20quais%20itens%20voc%C3%AAs%20est%C3%A3o%20aceitando%20no%20momento%3F%20"><img src='resources/view/img/doacao/roupas.png' alt="Projeto 3" class="img-fluid"></a>
                <h2 class="subtitle subtitle_donation"> Quero ajudar com alguns produtos </h2>
                <p>Clicando no cartão de doação você vai ser redirecionado para uma página de contato via WhatsApp. Lá você consegue entrar em contato e conversar com nosso voluntário responsável pelo recebimento.</p>
                <img class="img-fluid img-teste" src="resources/view/img/doacao/racao.png">
            </div>
        </div>
    </div>
</div>
