<!-- DESTAQUES-->

<div class="container" id="featured-container">
    <h1 class="text-center title_donation primary-color ">Sua doação é muito importante!</h1>
    <p class="text-center subtitle primary-color">Sua doação ajuda a manter todos os custos da Ong Todo Bicho, além de proporcionar uma ajuda muito grande para todos nossos animais.
        No momento estamos aceitando doações feitas por Pix, Transferência Bancária. Aceitamos doações de ração, detergentes, desinfetantes, cobertores, roupinhas e comedouros.
    </p>
    <div class="col-12 " id="featured-images">
        <div class="row g-4">
            <div class="col-12 col-md-4">
                <a href="{{URL}}/adote" class="stretched-link"><img src='resources/view/img/doacao/como_apadrinhar.png' alt="Projeto 2" class="img-fluid"></a>
                <h2 class="subtitle subtitle_donation"> Quero virar um padrinho </h2>
                <p> Clicando no cartão de apadrinhamento você vai ser redirecionado para uma página especial. Lá você encontra todos os cachorros disponíveis para <b>Apadrinhamento</b> e <b>Adoção</b>.</p>
                <img class="img-fluid img-teste" src="resources/view/img/doacao/racao.png">
            </div>
            <div class="col-12 col-md-4">
                <img src='resources/view/img/doacao/como_ajudar.png' alt="Projeto 1" class="img-fluid">
                <h2 class="subtitle subtitle_donation"> Quero ajudar financeiramente </h2>
                <p>Aceitamos doações via PIX e transação bancaria!</p>

                <h3 class="pix-text">PIX</h3>

                <h3 class="pix-text">Transferência bancária</h3>
                <p><b>Banco:</b> Banco do Brasil</p>
                <p><b>Agência:</b> 0163-5</p>
                <p><b>Conta Corrente:</b> 58.628-5</p>
                <img class="img-fluid" src="resources/view/img/doacao/dinheiro.png">
            </div>
            <div class="col-12 col-md-4">
                <a href="https://api.whatsapp.com/send?phone=5511998973034&text=Ol%C3%A1%2C%20gostaria%20de%20ajudar%20a%20Ong%20Todo%20Bicho%20com%20alguns%20itens%2C%20quais%20itens%20voc%C3%AAs%20est%C3%A3o%20aceitando%20no%20momento%3F%20"><img src='resources/view/img/doacao/roupas.png' alt="Projeto 3" class="img-fluid"></a>
                <h2 class="subtitle subtitle_donation"> Quero ajudar com alguns produtos </h2>
                <p>Clicando no cartão de doação você vai ser redirecionado para uma página de contato via WhatsApp. Lá você consegue entrar em contato e conversar com nosso voluntário responsável pelo recebimento.</p>
                <img class="img-fluid img-teste" src="resources/view/img/doacao/racao.png">
            </div>
        </div>
    </div>
</div>
