<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TCC</title>
    <link rel="shortcut icon" href="#" type="image/x-icon">

    <!-- Google Fonts Lato -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link href="resources/view/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- CSS do projeto -->
    <link rel="stylesheet" href="/resources/view/css/styles.css">




</head>
<body>

<nav class="navbar navbar-expand-lg fixed-top bg-primary-color" id="navbar">
    <div class="container py-3">
        <a href="{{URL}}" class="navbar-brand third-color">
            <img src="resources/view/img/logo.png" alt="logo" height="60">
            <span></span>
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-items"
                aria-controls="navbar-items"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >

            <i class="bi bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbar-items">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="{{URL}}" class="nav-link third-color">Institucional</a>
                </li>
                <li class="nav-item">
                    <a href="{{URL}}/adote" class="nav-link third-color" >Adote</a>
                </li>
                <li class="nav-item">
                    <a href="{{URL}}/doacao" class="nav-link third-color" >Doações</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.facebook.com/ongtodobichopira/?ref=page_internal" class="nav-link third-color" >Ações</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.facebook.com/ongtodobichopira/photos/?ref=page_internal" class="nav-link third-color" >Galeria</a>
                </li>
            </ul>
        </div>
    </div>
</nav>