




<!-- SLIDER -->


<div class="container" id="slider-container" xmlns="http://www.w3.org/1999/html">
    <div class="carousel slide" id="slider" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button
                type="button"
                class="active"
                data-bs-target="#slider"
                data-bs-slide-to="0"
                aria-current="true"
                aria-label="Slide 1"
            >
            </button>
            <button
                type="button"
                data-bs-target="#slider"
                data-bs-slide-to="1"
                aria-label="Slide 2"
            >
            </button>
            <button
                type="button"
                data-bs-target="#slider"
                data-bs-slide-to="2"
                aria-label="Slide 3"
            >
            </button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="resources/view/img/doacao/slide1.png"
                     alt="IMG1" class="d-block w-100">
            </div>
            <div class="carousel-item ">
                <img src="resources/view/img/doacao/slide2.png"
                     alt="IMG3" class="d-block w-100">
            </div>
            <div class="carousel-item ">
                <img src="resources/view/img/doacao/slide3.png"
                     alt="IMG2" class="d-block w-100">
            </div>
        </div>
        <button
            class="carousel-control-prev"
            type="button" data-bs-target="#slider"
            data-bs-slide="prev">

            <i class="bi bi-chevron-compact-left"></i>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
            class="carousel-control-next"
            type="button" data-bs-target="#slider"
            data-bs-slide="next">

            <i class="bi bi-chevron-compact-right"></i>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- MINI BANNERS -->
<div class="col-12 col-md-10 offset-md-1" id="mini-banners">
    <div class="row">
        <h1></h1>
        <div class="col-12" id="featured-images">
            <div class="row g-3">
                <div class="col-4 col-md-4">
                    <img src="resources/view/img/doacao/como_ajudar.png" alt="Projeto 2" class="img-fluid">
                    <div class="banner-content">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLScPnNVMKjj-TvvGQXmQ_gDmHZn39xkvEvqVT2cf18v7zvZkEQ/viewform" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <img src="resources/view/img/doacao/como_apadrinhar.png" alt="Projeto 1" class="img-fluid">
                    <div class="banner-content">
                        <a href="{{URL}}/adote" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <img src="resources/view/img/doacao/ajuda_financeira_index.png" alt="Projeto 3" class="img-fluid">
                    <div class="banner-content">
                        <a href="{{URL}}/doacao" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <img src="resources/view/img/doacao/roupas.png" alt="Projeto 3" class="img-fluid">
                    <div class="banner-content">
                        <a href="{{URL}}/doacao" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <img src="resources/view/img/doacao/galeria.png" alt="Projeto 3" class="img-fluid">
                    <div class="banner-content">
                        <a href="https://www.facebook.com/ongtodobichopira/photos/?ref=page_internal" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <img src="resources/view/img/doacao/contato.png" alt="Projeto 3" class="img-fluid">
                    <div class="banner-content">
                        <a href="https://api.whatsapp.com/send?phone=5511998973034&text=Oi%C3%A1%2C%20gostaria%20de%20ajudar%20a%20Ong%20Todo%20Bicho%20" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- INFO -->
<div class="container" >
    <div class="col-12">
        <h2 class="text-center primary-color subtitle">ONG Todo Bicho</h2>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-5" id="info-banner">
                <img src="resources/view/img/logo.png"
                     alt="Info" class="img-fluid">
            </div>
            <div class="col-12 col-md-7 bg-secondary-color" id="info-content">
                <div class="row">
                    <div class="col-12">
                        <p class=" primary-color about-ong">>Somos um lar transitório de animais resgatados localizado em Pirassununga - São Paulo.
                            Após o resgate, o animal é cuidado, vacinado e castrada e aguarda um lar responsável cheio de amor.
                            Aceitamos doações financeiras e de utensílios.
                        </p>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>



<!-- VÍDEO -->
<div class=" tikdogs text-center">
    <h1 class="tikdogs-text"> Nossos TikDogs  </h1>
    <div class=" col-12 ">
        <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Fongtodobichopira%2Fvideos%2F341086647806817%2F&show_text=false&width=261&t=0" width="261" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
    </div>

    </button>
    <a href="https://m.facebook.com/ongtodobichopira/" class=" btn btn-success mb-2 mb-md-0 btn-block btn-round btn-lg " role="button">Ver no Facebook</a>
    </button>
</div>