<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container text-center" style="margin-bottom: 2em">

<a href="{{URL}}/cadastrar"><button type="button" class="btn btn-cadastro btn-success btn-lg btn-block">Cadastrar um novo cachorro</button></a>

</div>
<!-- CARD DECK-->

<div class=" container col-md-10 " id="mini-card">




    <div class="container ">

        <div class="card-deck row ">

            {{cards}}

        </div>

    </div>
</div>
</body>
</html>