


<div class="container text-center col-2" >

  <div class="card">

    <div class="card-header text-dark text-center">
      <h1>Login</h1>
    </div>

    <form class="card-body" method="post">
      {{status}}
      <div class="form-outline mb-4">
        <input type="text" name="email" placeholder="Usuário" required autofocus class="form-control" />

      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" name="senha" placeholder="*****" required autofocus class="form-control" />

      </div>


      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>


    </form>

  </div>

</div>